.countryCard {
  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  width: 300px;
  padding: 1rem;
  margin: 0.5rem;
}

.countryCard a {
  text-decoration: none;
  color: black;
}

.countryCard:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.countryCard h3 {
  font-weight: 400;
  padding: 0.5rem;
}

/*.............Image.................*/

.image_countryCard {
  width: 80px;
  align-self: right;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.image_countryCard img {
  width: 100%;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
}

/*.............Header.................*/

.container_header_countryCard {
  background-color: rgb(50, 195, 243);
  color: white;
  padding: 2rem;
  min-height: 150px;
  text-align: center;
  border-radius: 10px;
}

.container_header_countryCard h2 {
  font-size: 1.2rem;
}

.container_header_countryCard h3 {
  font-weight: 300;
  font-size: 1rem;
}

/*.............Content.................*/

.content_countryCard {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.content_countryCard li,
.content_countryCard p {
  list-style: none;
  font-weight: 400;
  padding: 0.5rem;
}
.content_section {
  flex: 1;
}

.content_countryCard h3 {
  color: gray;
  font-size: 0.8rem;
  text-transform: uppercase;
}
